# Ignora la cartella node_modules per evitare di copiarla nel container
node_modules
npm-debug.log
yarn-error.log

# Ignora directory di sistema o specifiche del SO
.DS_Store
Thumbs.db

# Ignora la directory .git per evitare di copiare l'intero repository Git
.git
.gitignore

# Ignora i file di log
*.log

# Ignora file di configurazione locali che non dovrebbero essere nel container
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignora le directory di output della build (se presenti)
dist
build

# Ignora eventuali immagini o asset di grandi dimensioni non necessari
*.jpg
*.png
*.gif

# Altri file o directory che non sono necessari nel container
coverage
.vscode
.idea
*.swp
