# Ignore node_modules
node_modules
npm-debug.log
yarn-error.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Git and version control files
.git
.gitignore

# Ignore build artifacts
dist
build
